* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://image.freepik.com/free-vector/christmas-snow-overlay-banner_1048-11097.jpg);
    background-attachment: fixed;
    background-color: #1E293B;
}

.drop {
    /* tuyết rơi */
    position: fixed;
    top: 0;
    z-index: 1;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px #FFF;
    animation: falling 5.5s infinite ease-in;
}

@keyframes falling {
    0% {
        top: -10px;
        /* opacity: 1; */
    }
    10% {
        transform: translateX(-5px)
    }
    20% {
        transform: translateX(5px)
    }
    30% {
        transform: translateX(-5px)
    }
    40% {
        transform: translateX(5px)
    }
    60% {
        transform: translateX(-5px)
    }
    70% {
        transform: translateX(5px)
    }
    80% {
        transform: translateX(-5px)
    }
    90% {
        transform: translateX(5px)
    }
    95% {
        opacity: 1
    }
    100% {
        top: 95vh;
        opacity: 0;
    }
}

#snowman .front {
    position: fixed;
    margin-left: -0.8em;
    margin-top: 50px;
    font-size: 5em;
    animation: animate_snowman_front 3s linear infinite;
}

#snowman .back {
    position: fixed;
    margin-left: -0.8em;
    margin-top: 50px;
    font-size: 5em;
    backface-visibility: hidden;
    animation: animate_snowman_back 3s linear infinite;
}

@keyframes animate_snowman_front {
    0% {
        transform: rotateX(-20deg) rotateY(360deg);
    }
    100% {
        transform: ☃ rotateX(-20deg) rotateY(0deg);
    }
}

@keyframes animate_snowman_back {
    0% {
        transform: rotateX(-20deg) rotateY(360deg);
    }
    100% {
        transform: ☃ rotateX(-20deg) rotateY(0deg);
    }
}


/* #snowman::before {
    content: "";
    position: fixed;
    width: 3vmin;
    height: 3vmin;
    background: #222;
    border-radius: 50%;
    bottom: 65vmin;
    transform: translate(-200%, 0);
    box-shadow: 8vmin 0 #222, 4vmin 4.125vmin 0 0.33vmin orange, 4vmin 17vmin #233, 4.5vmin 17.125vmin 0 0.25vmin #233, 4vmin 24vmin #111, 4.25vmin 31vmin 0 0.25vmin #222, 4vmin 0 0 10vmin #fff, 4vmin 3vmin 1vmin 7vmin #aaa, 4vmin 22vmin 0 13vmin #fff, 4vmin 25vmin 2vmin 10vmin #aaa, 4vmin 45vmin 0 17vmin #fff;
}

#snowman::after {
    content: "";
    position: fixed;
    width: 60vmin;
    height: 72vmin;
    bottom: 3vmin;
    box-shadow: 0 -19vmin 0 -18vmin, 0 -26vmin 0 -22vmin #837, 0 -40vmin 0 -22vmin;
    border-radius: 18.5vmin 18.5vmin 0 0;
    transform-origin: top center;
    transform: translate(-50%, 0) rotate(3deg);
    background-image: linear-gradient(60deg, transparent 45%, brown 0 50%, transparent 0), linear-gradient(-64deg, transparent 45%, brown 0 50%, transparent 0), linear-gradient(-60deg, transparent 45%, brown 0 50%, transparent 0), linear-gradient(-50deg, transparent 45%, brown 0 54%, transparent 0), linear-gradient(70deg, transparent 45%, brown 0 53%, transparent 0), linear-gradient(23deg, orange 20%, transparent 0), linear-gradient(-88deg, transparent 42%, maroon 0 50%, transparent 0), linear-gradient(75deg, transparent 45%, maroon 0 50%, transparent 0), linear-gradient(85deg, transparent 45%, maroon 0 50%, transparent 0), linear-gradient(95deg, transparent 45%, maroon 0 50%, transparent 0), linear-gradient(110deg, transparent 45%, maroon 0 48%, transparent 0), linear-gradient(80deg, transparent 45%, maroon 0 48%, transparent 0), linear-gradient(102deg, transparent 45%, maroon 0 51%, transparent 0);
    background-size: 20% 50%, 18% 45%, 9% 11%, 9% 11%, 9% 11%, 16% 20%, 22% 65%, 20% 20%, 20% 25%, 25% 20%, 18% 20%, 22% 22%, 18% 21%;
    background-position: 90% 50%, 14% 55%, 6% 75%, 5% 73%, 13% 75%, 60% 0%, 102% 92%, 100% 20%, 103% 15%, 109% 19%, 109% 17%, 102.5% 15%, 106% 16%;
    background-repeat: no-repeat;
} */

#left img {
    display: inline-block;
    background-attachment: fixed;
    width: 150px;
    height: 420px;
    /* margin-top: -195px; */
    position: sticky;
    z-index: 1;
    top: 0;
    /*đè menu*/
    /* top: -195px; */
    margin-left: -85px;
}


/* #christmas_tree {
    position: fixed;
    width: 10%;
    height: 10%;
    top: 460px;
    margin-left: -80px;
    background: linear-gradient(90deg, #69c069, #77dd77);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform-origin: bottom;
    border-bottom: 10px solid #00000019;
    transform-style: preserve-3d;
    transform: rotateY(calc(90deg * var(--i))) translateZ(170px) rotateX(30deg);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(-20deg) rotateY(360deg);
    }
    100% {
        transform: rotateX(-20deg) rotateY(0deg);
    }
}

#christmas_tree .top {
    position: fixed;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: translateY(calc(100px * var(--j)));
} */

#right img {
    display: inline-block;
    background-attachment: fixed;
    width: 150px;
    height: 420px;
    /* margin-left: 1105px; */
    /* margin-top: -427px; */
    position: sticky;
    z-index: 1;
    top: 0;
    /*đè menu*/
    /* top: -427px; */
    /* margin-right: 14px; */
}

#header #logoIndex img {
    margin-top: 20px;
    /* margin-left: 3px; */
    width: 100%;
    height: 55%;
}

#header #logoIndex img:hover {
    border: 5px dashed red;
}

#header h6 {
    color: #fff;
}

#header h5 {
    text-shadow: 2px 1px blue;
    color: #fff;
}

#main-nav {
    background-color: #1e272e;
    /* margin-top: 10px; */
    position: sticky;
    z-index: 1;
    /*đè menu*/
    top: 0;
    /*xóa top*/
}

#main-nav ul {
    list-style-type: none;
    padding-top: -15px;
    padding-bottom: -15px;
}

#main-nav li {
    position: relative;
    float: left;
    border-right: 2px solid #808e9b;
}

#main-nav li a {
    display: block;
    text-align: center;
    font-weight: bold;
}

#main-nav>ul>li:hover>a {
    background-color: greenyellow;
    /* border-radius: 15px 15px 15px 15px; */
    color: black !important;
}


/* #main-nav a:visited {
    background-color: rgb(83, 83, 83);
    background-color: black;
} */

#main-nav li:hover .dropdown-menu {
    display: block;
}

#main-nav .dropdown-menu {
    /* position: absolute;
    display: none; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 0px 25px 15px 25px;
    box-shadow: 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    /* box-shadow: 2 bên ngang và dọc, độ lan rộng, độ mờ; */
}

#main-nav .dropdown-menu a {
    text-align: left;
    border: 2px solid greenyellow;
    border-radius: 0px 25px 15px 25px;
    list-style-type: none;
}

#main-nav .dropdown-menu a:hover {
    background-color: black;
    color: #fff;
}

#main-nav .dropdown-menu img {
    width: 35%;
    height: 35%;
}

.nav-item.active-menu .nav-link {
    background-color: greenyellow;
    color: black;
}

#clock {
    background-color: #1e272e;
    color: greenyellow;
    /* width: 310px; */
    text-align: center;
    padding: 8px;
    margin: 0px auto;
    /* border: 1px solid; */
}

#searching {
    margin-top: -3px;
    border: 2px dashed;
    background-color: #bdc3c7;
}

#searching button:hover {
    text-decoration: underline;
}

#txtTim {
    border: 3px solid rgb(252, 100, 33);
    width: 300px;
}

#btnTim {
    background-color: rgb(252, 100, 33);
}

#searching .form-inline {
    /* border: 1px solid; */
    /* border-right: 2px dashed; */
    width: 74%;
}

#searching a {
    color: #fff;
}

#logomxh {
    /* border: 1px solid; */
    width: 24%;
    height: 38px;
    margin: 0px auto;
    margin-top: 18px;
}

#logomxh img {
    width: 36px;
    height: 36px;
    border-radius: 10px;
}

#messfb img,
#gmail img,
#zalo img {
    margin-left: 20px;
}

#fb img {
    border-radius: 50%;
}

#fb img:hover {
    background-color: #fff;
    border-radius: 50%;
}

#messfb img:hover {
    background-color: #fff;
}

#gmail img {
    border: 1px solid black;
}

#gmail img:hover {
    background-color: #fff;
    border-radius: 10px;
}

#zalo img:hover {
    width: 35px;
    height: 35px;
}


/* slider */

#slider {
    width: 100%;
    height: 470px;
    background-color: #bdc3c7;
    /* z-index: 0; */
}

#slider img {
    height: 400px;
    width: 100%;
}

#slider img:hover .carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
}

#chitietsp {
    margin-top: -55px;
}

#chitietsp #maycatsat a img,
#maykhoan a img,
#bodungcu a img,
#keovadau a img {
    width: 6%;
    margin-left: 30px;
}

#chitietsp a {
    /* border-width: 3px 0px 3px 0px; */
    /* padding: 8px; */
    color: #fff;
    /* width: 50%; */
    background-color: rgb(252, 100, 33);
    border-radius: 35px;
    box-shadow: 0px 5px 10px rgba(124, 47, 13, 0.75);
    margin-top: 25px;
    margin-bottom: 10px;
    height: 55px;
}

#chitietsp h5 {
    margin: auto;
    margin-left: 24%;
    display: block;
    text-align: center;
}

#chitietsp a:hover {
    color: #fff;
    background-color: rgb(252, 135, 85);
}

#chitietsp a:hover {
    text-decoration: none;
}

#chitietsp .img-thumbnail {
    margin-left: 23.5px;
    margin-top: 15px;
}

.img-thumbnail:hover {
    box-shadow: 0px 0px 25px 5px lightgray;
    cursor: pointer;
}

.ti-angle-up {
    font-size: 28px;
    /* font-weight: bold; */
    width: 50px;
    height: 50px;
    background-color: tomato;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 45px;
    cursor: pointer;
}

.ti-angle-up:hover {
    background-color: rgb(255, 38, 0);
}

#backTop {
    color: black;
    text-decoration: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

#backTop:hover {
    text-decoration: underline;
}

#footer .row {
    /* background-color: rgb(252, 100, 33); */
    /* background-color: rgb(15, 23, 37); */
    margin-top: 50px;
    background-color: #1e272e;
    text-align: justify;
    color: #fff;
}

#footer h5 {
    margin-top: 20px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 5px dotted rgb(252, 100, 33);
    font-weight: bold;
}

#footer a {
    padding-bottom: 5px;
    color: #fff;
}

#footer .col-lg-12 p {
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
}

#footer span {
    opacity: 0.6;
}

#footer #hotro {
    text-align: center;
}